<div>
    <button type="button" class="btn btn-primary" (click)="login()">Login</button>
    <button type="button" class="btn btn-warning" (click)="getUserInfo()">GetUserInfo</button>
    <button type="button" class="btn btn-success" (click)="getAccessToken()">GetAccessToken</button>
    <button type="button" class="btn btn-info" (click)="call()">Call API</button>

    <button type="button" class="btn btn-default" (click)="logout()">Logout</button>

</div>
<pre>
{{user}}
</pre>
<pre>
{{token}}
</pre>
<hr>